<nz-tabset>
    <nz-tab nzTitle="概述">
        <nz-card nzTitle="基本信息" nzSize="small" [nzExtra]="extraTemplate1">
            <ng-template #extraTemplate1>
                <button nz-button *ngIf="!isEditing" nzSize="small" nzType="primary" (click)="startEditing()">编辑</button>
                <button nz-button *ngIf="isEditing" nzSize="small" nzType="default" (click)="cancelEditing()">取消</button>
                <button nz-button *ngIf="isEditing" nzSize="small" nzType="primary" (click)="saveChanges()">保存</button>
            </ng-template>
            <form nz-form [formGroup]="fmeaForm">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzRequired>FMEA编号</nz-form-label>
                            <nz-form-control [nzSpan]="16" nzErrorTip="请输入FMEA编号">
                                <input nz-input formControlName="code" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzRequired>FMEA类型</nz-form-label>
                            <nz-form-control [nzSpan]="16" nzErrorTip="请选择FMEA类型">
                                <nz-select formControlName="type">
                                    <nz-option *ngFor="let type of fmeaTypes" [nzValue]="type.value"
                                        [nzLabel]="type.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzRequired>名称</nz-form-label>
                            <nz-form-control [nzSpan]="16" nzErrorTip="请输入名称">
                                <input nz-input formControlName="name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzRequired>版本号</nz-form-label>
                            <nz-form-control [nzSpan]="16" nzErrorTip="请输入版本号">
                                <input nz-input formControlName="version" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8" nzRequired>FMEA版本</nz-form-label>
                            <nz-form-control [nzSpan]="16" nzErrorTip="请输入FMEA版本">
                                <input nz-input formControlName="fmeaVersion" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">阶段</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="stage" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">创建时间</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input [value]="fmeaDoc?.createdAt | date:'yyyy-MM-dd HH:mm:ss'" disabled />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">更新时间</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input [value]="fmeaDoc?.updatedAt | date:'yyyy-MM-dd HH:mm:ss'" disabled />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="2">描述</nz-form-label>
                            <nz-form-control [nzSpan]="22">
                                <textarea nz-input formControlName="description"
                                    [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>

        <nz-card nzTitle="规划和准备" nzSize="small">
            <form nz-form [formGroup]="fmeaForm">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">客户名称</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="customerName" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">公司名称</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="companyName" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">产品类型</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="productType" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">材料</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="material" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">项目</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="project" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">项目地点</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="projectLocation" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">计划开始日期</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <nz-date-picker formControlName="planKickOff" style="width: 100%;"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">计划结束日期</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <nz-date-picker formControlName="planDeadline" style="width: 100%;"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">保密级别</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <nz-select formControlName="secretLevel" style="width: 100%;">
                                    <nz-option *ngFor="let level of secretLevels" [nzValue]="level.value"
                                        [nzLabel]="level.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">访问级别</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <nz-select formControlName="accessLevel" style="width: 100%;">
                                    <nz-option *ngFor="let level of accessLevels" [nzValue]="level.value"
                                        [nzLabel]="level.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">设计部门</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="designDepartment" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="8">设计负责人</nz-form-label>
                            <nz-form-control [nzSpan]="16">
                                <input nz-input formControlName="designOwner" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </nz-card>

        <nz-card nzTitle="核心团队" nzSize="small" [nzExtra]="extraTemplate3">
            <ng-template #extraTemplate3>
                <button nz-button nzSize="small" nzType="default" (click)="showAddMemberModal(true)">添加成员</button>
            </ng-template>
            <nz-table #coreTeamTable [nzData]="fmeaDoc?.coreMembers || []" nzSize="small">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>工号</th>
                        <th>角色</th>
                        <th>部门</th>
                        <th>联系方式</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of coreTeamTable.data; let i = index">
                        <td>{{ member.name }}</td>
                        <td>{{ member.employeeNo }}</td>
                        <td>{{ member.role }}</td>
                        <td>{{ member.department }}</td>
                        <td>
                            <div *ngIf="member.email">Email: {{ member.email }}</div>
                            <div *ngIf="member.phone">电话: {{ member.phone }}</div>
                        </td>
                        <td>{{ member.note }}</td>
                        <td>
                            <button nz-button nzType="link" (click)="showEditMemberModal(true, i)">
                                <span nz-icon nzType="edit" nzTheme="outline"></span>
                            </button>
                            <button nz-button nzType="link" nzDanger (click)="removeMember(true, i)">
                                <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>

        <nz-card nzTitle="扩展团队" nzSize="small" [nzExtra]="extraTemplate4">
            <ng-template #extraTemplate4>
                <button nz-button nzSize="small" nzType="default" (click)="showAddMemberModal(false)">添加成员</button>
            </ng-template>
            <nz-table #extendedTeamTable [nzData]="fmeaDoc?.extendedMembers || []" nzSize="small">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>工号</th>
                        <th>角色</th>
                        <th>部门</th>
                        <th>联系方式</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of extendedTeamTable.data; let i = index">
                        <td>{{ member.name }}</td>
                        <td>{{ member.employeeNo }}</td>
                        <td>{{ member.role }}</td>
                        <td>{{ member.department }}</td>
                        <td>
                            <div *ngIf="member.email">Email: {{ member.email }}</div>
                            <div *ngIf="member.phone">电话: {{ member.phone }}</div>
                        </td>
                        <td>{{ member.note }}</td>
                        <td>
                            <button nz-button nzType="link" (click)="showEditMemberModal(false, i)">
                                <span nz-icon nzType="edit" nzTheme="outline"></span>
                            </button>
                            <button nz-button nzType="link" nzDanger (click)="removeMember(false, i)">
                                <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </nz-tab>
    <nz-tab nzTitle="关联FMEA">
    </nz-tab>
    <nz-tab nzTitle="历史记录">
    </nz-tab>
    <nz-tab nzTitle="附件">
    </nz-tab>
</nz-tabset>

<!-- 添加成员模态框 -->
<nz-modal [(nzVisible)]="isAddingMember" [nzTitle]="isCoreTeamTab ? '添加核心团队成员' : '添加扩展团队成员'"
    (nzOnCancel)="cancelAddMember()" (nzOnOk)="addMember()">
    <ng-container *nzModalContent>

        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>员工</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <nz-select nzPlaceHolder="选择员工" [(ngModel)]="selectedEmployee" (ngModelChange)="selectEmployee($event)">
                    @for (p of employees; track p) {
                    <nz-option [nzValue]="p" nzLabel="{{p.department}} - {{p.name}}"></nz-option>
                    }
                </nz-select>        
            </nz-form-control>
        </nz-form-item>
        <nz-divider></nz-divider>
        <form nz-form [formGroup]="memberForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>姓名</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="name" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>工号</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="employeeNo" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>角色</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="role" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6">部门</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="department" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6">电子邮件</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="email" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6">电话</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <input nz-input formControlName="phone" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="6">备注</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <textarea nz-input formControlName="note" placeholder="请输入备注信息"
                        [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<!-- 编辑成员备注模态框 -->
<nz-modal [(nzVisible)]="isEditingMember" [nzTitle]="isCoreTeamTab ? '编辑核心团队成员' : '编辑扩展团队成员'"
    (nzOnCancel)="cancelEditMember()" (nzOnOk)="updateMemberNote()">
    <ng-container *nzModalContent>
        <div *ngIf="currentMember" class="member-info"
            style="margin-bottom: 16px; padding: 16px; background-color: #f5f5f5; border-radius: 2px;">
            <p><strong>姓名:</strong> {{ currentMember.name }}</p>
            <p><strong>工号:</strong> {{ currentMember.employeeNo }}</p>
            <p><strong>角色:</strong> {{ currentMember.role }}</p>
            <p><strong>部门:</strong> {{ currentMember.department }}</p>
            <p *ngIf="currentMember.email"><strong>邮箱:</strong> {{ currentMember.email }}</p>
            <p *ngIf="currentMember.phone"><strong>电话:</strong> {{ currentMember.phone }}</p>
        </div>

        <form nz-form [formGroup]="editNoteForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="4">备注</nz-form-label>
                <nz-form-control [nzSpan]="20">
                    <textarea nz-input formControlName="note" placeholder="请输入备注信息"
                        [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>