<nz-layout>
    <nz-header>
        <div class="header-row" nz-flex nzJustify="space-between" nzAlign="center">
            <div class="title">FMEAID编号/版本</div>
            <div>
                <button class="header-btn" nz-button>暂存</button>
                <button class="header-btn" nz-button nzType="primary" (click)="onSaveFmeaDoc()">保存</button>
                <button class="header-btn" nz-button nzType="primary" (click)="onSaveFmeaDoc()">提交</button>
            </div>
        </div>
        <div class="header-row" nz-flex>
            <div class="title-attribute">FMEA编号： 213123123123132</div>
            <div class="title-attribute">名称：FMEA名称</div>
            <div class="title-attribute">状态：草稿</div>
            <div class="title-attribute">截止时间：2024/12/12</div>
        </div>
        <div>
            <nz-card>
                <nz-steps [nzCurrent]="step" (nzIndexChange)="onIndexChange($event)">
                    <nz-step nzTitle="步骤一" nzSubtitle="规划与准备"></nz-step>
                    <nz-step nzTitle="步骤二" nzSubtitle="结构分析"></nz-step>
                    <nz-step nzTitle="步骤三" nzSubtitle="功能分析"></nz-step>
                    <nz-step nzTitle="步骤四" nzSubtitle="失效分析"></nz-step>
                    <nz-step nzTitle="步骤五" nzSubtitle="风险分析"></nz-step>
                    <nz-step nzTitle="步骤六" nzSubtitle="优化"></nz-step>
                    <nz-step nzTitle="步骤七" nzSubtitle="结果文件化"></nz-step>
                </nz-steps>
            </nz-card>
        </div>

    </nz-header>
    <nz-content>
        <div *ngIf="step === 0">
            <app-fmea-step1 [fmeaDoc]="fmeaDoc" (fmeaDocUpdated)="onFmeaDocUpdated($event)"></app-fmea-step1>
        </div>
        <div id="fmStructure" *ngIf="step === 1">
            <app-fmea-step2 [fmeaDoc]="fmeaDoc" (fmeaDocUpdated)="onFmeaDocUpdated($event)"></app-fmea-step2>
        </div>
        <div id="fmFunction" *ngIf="step === 2">
            <app-fmea-step3 [fmeaDoc]="fmeaDoc" (fmeaDocUpdated)="onFmeaDocUpdated($event)"></app-fmea-step3>
        </div>
        <div id="fmFault" *ngIf="step === 3">
            <app-fmea-step4 [fmeaDoc]="fmeaDoc" (fmeaDocUpdated)="onFmeaDocUpdated($event)"></app-fmea-step4>
        </div>
    </nz-content>
    <nz-footer>footer</nz-footer>
</nz-layout>