<nz-layout>
    <nz-header>
        <div class="header-row" nz-flex nzJustify="space-between" nzAlign="center">
            <div class="title">FMEAID编号/版本</div>
            <div>
                <button class="header-btn" nz-button>暂存</button>
                <button class="header-btn" nz-button nzType="primary">保存</button>
                <button class="header-btn" nz-button nzType="primary">提交</button>
            </div>
        </div>
        <div class="header-row" nz-flex>
            <div class="title-attribute">FMEA编号： 213123123123132</div>
            <div class="title-attribute">名称：FMEA名称</div>
            <div class="title-attribute">状态：草稿</div>
            <div class="title-attribute">截止时间：2024/12/12</div>
        </div>
        <div>
            <nz-card>
                <nz-steps [nzCurrent]="1">
                    <nz-step nzTitle="步骤一" nzSubtitle="规划与准备"></nz-step>
                    <nz-step nzTitle="步骤二" nzSubtitle="结构分析"></nz-step>
                    <nz-step nzTitle="步骤三" nzSubtitle="功能分析"></nz-step>
                    <nz-step nzTitle="步骤四" nzSubtitle="失效分析"></nz-step>
                    <nz-step nzTitle="步骤五" nzSubtitle="风险分析"></nz-step>
                    <nz-step nzTitle="步骤六" nzSubtitle="优化"></nz-step>
                    <nz-step nzTitle="步骤七" nzSubtitle="结果文件化"></nz-step>
                </nz-steps>
            </nz-card>
        </div>

    </nz-header>
    <nz-content >
        <nz-tabset>
            <nz-tab nzTitle="结构">
                <div class="header-row" nz-row>
                    <nz-card nz-col nzFlex="400px" nzTitle="结构分析" nzSize="small">
                        <nz-tree [nzData]="nodes" nzShowIcon>
                        </nz-tree>
                    </nz-card>
                    <nz-card nz-col nzFlex="auto" nzTitle="表单" nzSize="small">
                        <nz-table #basicTable nzSize="small" [nzData]="listOfData">
                            <thead>
                              <tr>
                                <th nzWidth="100px">层级</th>
                                <th nzWidth="100px">结构编号</th>
                                <th>结构名称</th>
                                <th nzWidth="120px">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              @for (data of basicTable.data; track data) {
                                <tr>
                                  <td>{{ data.name }}</td>
                                  <td>{{ data.age }}</td>
                                  <td>{{ data.address }}</td>
                                  <td>
                                    <a>编辑</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a>删除</a>
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </nz-table>
                    </nz-card>
                </div>
            </nz-tab>
            <nz-tab nzTitle="表单">
            </nz-tab>
            <nz-tab nzTitle="结构树">
            </nz-tab>
            <nz-tab nzTitle="边界图">
            </nz-tab>
        </nz-tabset>
    </nz-content>
    <nz-footer>footer</nz-footer>
</nz-layout>